/* MODAL */

.modal{
    width: 85%;
    height: 30rem;
    background-color: #F6F6F6;
    /* margin: auto; */
    border-radius: 25px;
    padding: 2rem;
    box-shadow: 0px 72px 80px 10px rgba(0, 0, 0, 0.288);
    display: flex;
    flex-direction: column;
    position: absolute;
}
@media only screen and (max-width: 950px) {
    .modal {
        width: 70%;
        height: 30rem;
        margin: 10%;
    }
}

.modal-title{
    display: flex;
    justify-content: space-between;
}
.modal-title img{
    width: 3rem;
}
.modal h1{
    color: #444444;
    font-size: 1.5rem;
    font-weight: 600;
}
.table table{
    width: 100%;
}
.table td, .table th{
    color: #444444;
    text-align: left;

}

/* OPCIONES */
/* Search box */
.search-box{
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    margin: 2.5rem;
    margin-left: 0;
    background-color: #F6F6F6;
    width: 0;
    padding-left: 1%;
    transition: 2s;
}
#buttonSearch{
    position: absolute;
    color: #F6F6F6;
    background-color: #355B3E;
    border: none;
    border-radius: 100%;
    padding: 1%;
    font-weight: 600;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    background-image: url('../img/search.svg');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}
#inputSearch{
    position: absolute;
    opacity: 0;
    width: 0%;
    padding-left: 5%;
    height: 2.5rem;
    border: none;
    color: #444444;
    outline: none;
    border-radius: 25px;

}
#buttonSearch:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}

/* EFECTOS */

.button img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 300ms;
}

.option:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 300ms;
}