<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />

</head>
<body>
    <div class="container">
        <div class="home-container" id="home-container">
            <!-- INFORMACIÓN DEL PROFESOR -->
            <div class="prof-info">
                <h1>  <span th:text="${nombreProfesor}"></span> </h1>
                <div class="imagen-circular">

                    <img th:src="@{/img/paisaje2.jpg}" alt="Profile photo" />
                </div>                  
            </div>

            <!-- CARDS -->
            <div class="class-container" id="class-container">         
                <span th:each="clase : ${clases}">
                    <div class="card-container">
                        <div class="card-head">
                            <img th:src="@{/img/Calendar_Empty.svg}" alt="img-ast" />
                            <h2><span th:text="${clase.getNombreClase()}"></span></h2>
                        </div>
                        <div class="card-body">
                            <div class="card-information">

                                <p>Gpo. <span th:text="${clase.getGrupo()}"></span></p>
                                <p><span th:text="${clase.getDias()}"></span></p>
                                <p><span th:text="${clase.getAula()}"></span></p>

                            </div>
                            <div class="card-button">
                                <a class="verButton" href="#" th:id= "${clase.getIdClase()}" >Ver</a>
                            </div>
                        </div>
                    </div>
                </span>
            </div>            
        </div>

        <div th:replace="/nav.html"></div>

    </div>
    <script th:src="@{/script/home.js}"></script>
    <script th:src="@{/script/modal.js}"></script>

</body>
</html>